<Main> 
    <h2> Home </h2>
{{#each books}}
    
    <div class="book">
        <h3> Título: {{this.title}}</h3>
        <p> Quantidade de pàginas: {{this.pageqty}}</p>
        <a href="/book/{{this.idbooks}}">Ver mais</a>
    </div>

{{/each}}
</Main>